<div class="meta-container">
    <h2>SRT Info</h2>
    <div class="meta-table">
        <div class="meta-col-1">
            <p>Title: {{ meta.Title}}</p>
            <p>ScriptType: {{ meta.ScriptType}}</p>
            <p>WrapStyle: {{ meta.WrapStyle}}</p>
            <p>PlayResX: {{ meta.PlayResX}}</p>
            <p>PlayResY: {{ meta.PlayResY}}</p>
            <p>ScaledBorderAndShadow: {{ meta.ScaledBorderAndShadow}}</p>
            <p>VideoZoom: {{ meta.VideoZoom}}</p>
        </div>
        <div class="meta-col-2">
            <p>LastStyleStorage: {{ meta.LastStyleStorage}}</p>
            <p>Collisions: {{ meta.Collisions}}</p>
            <p>AudioFile: {{ meta.AudioFile}}</p>
            <p>VideoZoomPercent: {{ meta.VideoZoomPercent}}</p>
            <p>ScrollPosition: {{ meta.ScrollPosition}}</p>
            <p>ActiveLine: {{ meta.ActiveLine}}</p>
        </div>
    </div>
</div>
