<div>
    <p>Title: {{ meta.Title}}</p>
    <p>ScriptType: {{ meta.ScriptType}}</p>
    <p>WrapStyle: {{ meta.WrapStyle}}</p>
    <p>PlayResX: {{ meta.PlayResX}}</p>
    <p>PlayResY: {{ meta.PlayResY}}</p>
    <p>ScaledBorderAndShadow: {{ meta.ScaledBorderAndShadow}}</p>
    <p>VideoZoom: {{ meta.VideoZoom}}</p>
    <p>LastStyleStorage: {{ meta.LastStyleStorage}}</p>
    <p>Collisions: {{ meta.Collisions}}</p>
    <p>AudioFile: {{ meta.AudioFile}}</p>
    <p>VideoZoomPercent: {{ meta.VideoZoomPercent}}</p>
    <p>ScrollPosition: {{ meta.ScrollPosition}}</p>
    <p>ActiveLine: {{ meta.ActiveLine}}</p>
</div>