@import "src/sass/imports";
$baseText:8;

/* Estilos básicos para el nav */
nav {
    text-align: center;
    background-color: $thirdColor;
    padding: 1px;
    font-family: "Roboto";
    font-size: ($baseText)*1pt;

    margin-bottom: 1%;

    ul{ 
        list-style: none;
        margin-top: 10px;
        margin-bottom: 10px;

        li {
            padding: 5px;
            margin-right:10px;
            margin-left:10px;
            display:inline-block;
        }

        li:after {
            display: block;
            content: '';
            border-bottom: solid 2px #000; 
            transform: scaleX(0.20);   
            transition: transform 250ms ease-in-out;
        }

        li:hover:after {
            transform: scaleX(1);
        }

        li:hover{ 
            cursor: pointer;
        }
    }
}

/* El borde cambia y es más grande*/
@include media-breakpoint-up(sm) {
    nav {
        font-size: ($baseText+10)*1pt;
        
        ul{ 
            li:after {
                border-bottom: solid 3px #000; 
            }
        }
    }
}

/* Se cambia el tamaño de letra solamente */
@include media-breakpoint-up(md) {
    nav {
        font-size: ($baseText+10)*1pt;
    }
}

@include media-breakpoint-up(xl) {
    nav {
        font-size: ($baseText+15)*1pt;
    }
}