@import "src/sass/imports";

header {
    text-align: center;
    background-color: $thirdColor;
    padding: 20px 0px 5px 0px;
    font-size: 15pt;
    /*@include sticky;*/

    h1 {
        @include margins(0px);
    }
}

@include media-breakpoint-up(sm) {
    header {
        font-size: 20pt;
    }
}

@include media-breakpoint-up(md) {
    header {
        font-size: 25pt;
    }
}

@include media-breakpoint-up(xl) {
    header {
        font-size: 30pt;
    }
}