<div *ngFor="let estilo of styles">
    <p>Name: {{estilo.Name}}</p>
    <p>FontName: {{estilo.FontName}}</p>
    <p>FontSize: {{estilo.FontSize}}</p>
    <p>PrimaryColour: {{estilo.PrimaryColour}}</p>
    <p>SecondaryColour: {{estilo.SecondaryColour}}</p>
    <p>OutlineColour: {{estilo.OutlineColour}}</p>
    <p>BackColour: {{estilo.BackColour}}</p>
    <p>Bold: {{estilo.Bold}}</p>
    <p>Italic: {{estilo.Italic}}</p>
    <p>Underline: {{estilo.Underline}}</p>
    <p>StrikeOut: {{estilo.StrikeOut}}</p>
    <p>ScaleX: {{estilo.ScaleX}}</p>
    <p>ScaleY: {{estilo.ScaleY}}</p>
    <p>Spacing: {{estilo.Spacing}}</p>
    <p>Angle: {{estilo.Angle}}</p>
    <p>BorderStyle: {{estilo.BorderStyle}}</p>
    <p>Outline: {{estilo.Outline}}</p>
    <p>Shadow: {{estilo.Shadow}}</p>
    <p>Alignment: {{estilo.Alignment}}</p>
    <p>MarginL: {{estilo.MarginL}}</p>
    <p>MarginR: {{estilo.MarginR}}</p>
    <p>MarginV: {{estilo.MarginV}}</p>
    <p>Encoding: {{estilo.Encoding}}</p>
</div>